.header_02 {
  background-color: #2C323C;
  background-image: url("/assets/images/geometry.svg");
  background-repeat: repeat;
  color: white;
  min-height: 400px;
  padding: 180px 20px; 
  padding-bottom: 140px;
  text-align: center;
}

.titulo01 {
  height: auto;
}

.header_02 h1 {
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 6rem;
}
.header_02 h2 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 4px;
  font-size: 4 rem;
  font-size: 30px;
  font-family: 'Cabin Condensed', sans-serif;
  font-style: normal;
}
.certificates {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 4px;
  font-size: 4rem;
  font-size: 30px;
  border-bottom: 1px solid red;
  font-family: 'Cabin Condensed', sans-serif;
  font-style: normal;
}

.columna2{
  text-align: left;
  border-bottom: 1px solid blue;
  height: 200px;
  
}

.columna1{
  text-align: right;
  border-bottom: 1px solid blue;
}
.portada01{
  /* background-color: mediumvioletred; */
}
.fila1{
  text-align: center;
  border-bottom: 1px solid white;
  
}
.columnaIcon { 
  /* width:100%;  */
  max-height: 60px;
  text-align: left;
  border: 1px solid blue;
}

img { 
  /* width:100%;  */
  max-height: 40px;
  text-align: left;
  border: 1px solid blue;
}